# Default values for pg_createcluster(8)
# Occurrences of '%v' are replaced by the major version number,
# and '%c' by the cluster name. Use '%%' for a literal '%'.

data_directory = '{{ pgsql_data_dir }}'
xlogdir = '{{ pgsql_xlog_dir }}'
stats_temp_directory = '/var/run/postgresql/%v-%c.pg_stat_tmp'

ssl = on
cluster_name = '%v/%c'

log_line_prefix = '%%t [%%p-%%l] %%q%%u@%%d '
