log_facility=daemon
pid_file=/var/run/nagios/nrpe.pid

server_port=5666

nrpe_user=nagios
nrpe_group=nagios

allowed_hosts={{ SYSTEM_MONITORING_SERVERS|join(",") }}

dont_blame_nrpe=0
allow_bash_command_substitution=0
debug=0
command_timeout=60
connection_timeout=300

include_dir=/etc/nagios/nrpe.d/

