description "Update cluster members names"

start on (net-device-up IFACE!=lo)
stop on runlevel [06]

script
echo "127.0.0.1  localhost" > /etc/hosts
echo "127.0.1.1  $(hostname)" >> /etc/hosts

serf members -status=alive | sed 's/:.\+$//g' | grep -ve ^"$(hostname) " | awk '{ print $2 "  " $1}' >> /etc/hosts
end script
