db_connection dbname={{ BDE_DATABASE_NAME }}
bde_repository {{ BDE_REPOSITORY_DIR }}
tmp_base_dir {{ BDE_TMP_BASE_DIR }}

log_email_address {{ BDE_LOG_EMAIL_ADDRESS }}


dataset_load_start_sql <<EOT
{{ BDE_DATASET_LOAD_START_SQL }}
EOT

dataset_load_end_sql <<EOT
{{ BDE_DATASET_LOAD_END_SQL }}
EOT
