local  all          postgres             peer map=map_as_postgres
local  replication  postgres             peer map=map_as_postgres

local  all          all                  peer
host   all          all       0.0.0.0/0  md5
